@import "../../variable";
.nutrients {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.customButton {
  border-color: $textColor !important;

  &:first-of-type {
    margin-left: 0px;
    margin-right: 5px;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}
.inputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  @media (max-width: 400px) {
    flex-wrap: wrap;
  }
  input {
    width: 50%;

    @media (max-width: 400px) {
      border: 1px solid $textColor;

      width: 100%;
      margin-bottom: 15px;
    }
  }
}

.textContainer {
  margin-top: 20px;
  h4 {
    text-align: left;
  }
}

.flex {
  display: flex;
  p {
    margin-right: 10px;
  }
}
