@import "../../variable";
.simpleSearch {
  button {
    background: $orange !important;
    border: 1px solid $orange;
    svg {
      color: $red;
    }
    &:hover {
      border-color: transparent;
    }
  }
}
.searchBy {
  h4 {
    text-decoration: underline;
    cursor: pointer;
  }
}
