@import "./variable";
html {
  line-height: var(--lh);
}
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textColor;
  a {
    font-family: "Josefin Sans", sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
