@import "./variable";
html {
  font-size: responsive 18px 18px !important;
  line-height: var(--lh);
  font-size: responsive;
}
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textColor;
  font-size: 16px;

  a {
    font-family: "Josefin Sans", sans-serif;
  }
  // @media (max-width: 400px) {
  //   font-size: 14px;
  // }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
