.jumbotron {
  background: url("../../images/headerRecipes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1,
  h3 {
    text-align: center;
  }
}
